/*CSS*/
html{
	background-image: url(img/afternoon.jpg);
	background-size: cover;
	font-family: "Eras ITC", "Eras Light ITC", "Calibri Light";
	font-weight: lighter;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a{
	text-decoration: none;
	color: inherit;
	outline: 0;
}

input{
	background-color: transparent;
	border: none;
	font-family: "Eras ITC", "Eras Light ITC", "Calibri Light";
	font-size: 4vh;
	text-align: center;
	color: #eee;
	font-weight: lighter;
	font-size: 3.5vh;
	padding: 0;
	margin: 0;
}
input:focus{
	outline: none;
}

.glossheading{
	font-size: 4vh;
	color: #eee;
	width: 100%;
}

.gloss{
	opacity: 0.9;
	text-align: center;
}

.main{
	background-color: #151A1D;
}

.item{
	width: 100%;
	min-height: 3vh;
	font-size: 2.25vh;
	font-family: "Eras ITC", "Eras Medium ITC", "Calibri Light";
	font-weight: medium;
	color: #eee;
	transition: background-color 0.1s linear;
	background-color: #2F3B43;
}
.item:hover{
	background-color: #3c464c;
}

.secthead{
	-moz-box-sizing: border-box;
	position: relative;
	width:100%;
	height: 4.15vh;
	
	font-size: 3.15vh;
	color: #ccc;
	border-bottom: 1px solid;
	border-color: rgba(47,25,38,0);
	transition: background-color 0.1s linear;
	background-color: #19262F;
}
.secthead:hover, .secthead:focus{
	cursor: pointer;
	background-color: #16222a;
}

.section{
	position: relative;
}


.hidden{
	display: none;
}

.wtext{
	color: #eee;
}

#info{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5vh;
	color: #fff;
	text-align: center;
	font-size: 3.5vh;
}

#links{
	position: absolute;
	top:25%;
	left: 20%;
	width: 25%;
	height: 50%;
	overflow: hidden;
}

#linkcontain{
	height:91%;
	width:102%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#search{
	position: absolute;
	top: 25%;
	right:20.5%;
	width: 25%;
	height: 10%;
}

#searchbox{
	display: inline-block;
	width: 95%;
	height: 53%;
}

#dropdown{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 100;
	text-align: center;
	opacity: 1;
	display: none;
}

.droptest{
	background-color: inherit;
}
.droptest:hover{
	background-color: initial;
}

#greeting{
	position: relative;
	text-align: center;
	color: white;
	top: 5vh;
	font-size: 10vh;
}

#whatwedoing{
	font-size: 4vh;
}

#weather{
	position: absolute;
	top: 40%;
	right:20%;
	width: 25%;
	height: 20%;
	overflow-y: hidden;
	padding: 1vh;
}

.forcastbox{
	display: inline-block;
	padding-left: 0.5vh;
	padding-right: 0.5vh;
}
.daytitle{
	font-size: 1.75vw;
}
#daytemp{
	font-size: 1.5vw;
}

#temperature{
	font-size: 5vh;
}

#cc{
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 10pt;
	color:white;
	opacity: 0;
}
#cc:hover{
	cursor: none;
	opacity: 1;
}

::-moz-scrollbar { 
    display: none; 
}
::-webkit-scrollbar { 
    display: none; 
}

@media only screen and (max-device-width: 480px) {

	.glossheading{
		font-size: 6em;
	}

	.secthead{
		font-size: 5em;
		height: 1.1em;
	}

	.item{
		font-size: 4em;
	}

	#greeting{
		position: relative;
		text-align: center;
		color: white;
		top: 5vh;
		font-size: 6vh;
		margin: 0.2em;
	}

	#links{
		position: relative;
		top: 5%;
		left: 0;
		right: 0;
		width:90%;
		padding-bottom: 2.5em;
		margin: 0 auto;
	}

	.forcastbox{
		display: none;
	}

	#temperature{
		font-size: 5vh;
	}

	#weather{
		font-size: 0.8em;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		top:8%;
		left:0;
		right:0;
		margin: 0 auto;
		width:90%;
	}

	#search{
		display: none;
	}
}